
#lecture-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.lecture {
    border: 1px solid rgba(13, 49, 64, 1);
    border-radius: 1rem;
    width: 15%;
    height: 5.5rem;
    overflow: hidden;
    margin: 1rem;
}

h4 {
    color: rgba(207, 210, 219, 1);
    background-color: rgba(13, 49, 64, 0.8);
    width: 100%;
    padding: 0.5rem 0;
}

.lecture p {
    height: 50px;
    font-size: 0.9rem;
    padding: 0.5rem;
    margin: 0;
}


