
{{#each lectures}}
    <div class="lecture">
        <a href="./lecture/page{{page}}/#chapter{{chapter}}">
            <h4>Chapter {{chapter}}</h4>
            <p>{{title}}</p>
        </a>
    </div>
{{/each}}